*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;   
}
body{
    background-image: url(./photo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}
.sp{
    color: #ddae39 ;
    height: 40px;
    width: 40px;
}
.nav-itmes{
    display: flex;

}
.icon{
    color: #808080f0;
}
.btn{
    padding: 10px;
    background-color: #ddae39;
}
.btn:hover{
    background-color: yellow;
    transform: translatex(10px);
}
.logo{
    background-color: #ddae39;
    padding: 15px;
    color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.complete{
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
}
.nav-itmes {
    list-style: none;
    gap: 20px; 
}
.nav-itmes:hover{
    color: brown;
}
.icon{
    display: flex;
    gap: 10px;
}
.btn{
    display: flex;
    gap: 10px;
    border:1px solid #ddae39 ;
    color: white;
    border-radius: 6px;
}
.logo-box{
    display: flex;
    gap: 6px;
}

/* hero section */

.rating{
    display: inline-block;
    color: gold;
   background:rgba(255,255,255,.2);
   padding: 10px 20px;
   border-radius: 30px;
   margin-bottom: 20px;
   width: 300px;

}
.spn{
    color: white;
}
.spn2{
    color: gold;
}
h1{
    color: white;
}
p{
    color: white;
    margin-bottom: 10px
}
.hero{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.btn1{
    background-color: gold;
    color: white;
    padding: 9px;
    border-radius: 8px;
    border: gold;
    margin-right: 15px;
}
.btn2{
    color: white;
   background:rgba(255,255,255,.2);
   padding: 6px;
   border-radius: 6px;
   border:1px solid white;

}
.btn1:hover{
    background-color: yellow;
    transform: translateX(5px);

}
.btn2:hover{
    transform: translateX(-5px);
    background-color: #ffff;
    color: #000;
}
.overall{
    position: absolute;

}
.butn{
    margin-bottom: 20px;
}
/* article */
.num{
    color: gold;
}
p1{
    color: white;
}

.term-itms{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 20px;
}

/* services */
.services{
    height: 10vh;
    width: 100vh;

}